{% load static %}
{% load widget_tweaks %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="{% static 'ProjectR/images/favicon.ico' %}">

  <title>Signin Template for Bootstrap</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'ProjectR/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template -->
  <link href="{% static 'ProjectR/css/signin.css'%}" rel="stylesheet" type="text/css">
</head>

<body class="text-center">
  <form class="form-signin" method="post">
    <img class="mb-4 " src="{%static 'ProjectR/image/Advance.JPG' %}">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="inputEmail" class="sr-only">Username</label>
      {% render_field form.username type="text" class="form-control"  placeholder="Username" %}
      {% csrf_token %}
      <label for="inputPassword" class="sr-only">Password</label>
      {% render_field form.password type="password" id="inputPassword" class="form-control" placeholder="Password" %}
      {% csrf_token %}
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block form-control" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2020 Dipesh Thapa</p>
    </form>
</body>

</html>